body {
  background-color: rgb(233, 227, 227);
}
.viewport {
  background-color: #1b1a1a;
  position: absolute;
  font-size: 0;
  border: 8px ridge #00D00F;
}
.snakepiece {
  background-color: #1b1a1a;
  position: relative;
  float: left;
  border: 1px;
  border-style: solid;
  border-color: #00D00F
}
.apple {
  background-color: #1b1a1a;
  position: relative;
  float: left;
  border: 2px;
  border-style: solid;
  border-color: #00D00F
}
.scoreboard {
  color: #00D00F;
  background-color: #1b1a1a;
  position: absolute;
  float: left;
}
.halfboard {
  float: left;
  text-align: center;
  border: 5px ridge #5cce2e;
}
.board-word {
  border-bottom: 5px ridge #5cce2e;
}
/* Prevents blue line around div when clicked on */
*:focus {
  outline: 0;
  outline: none;
  }